.acservices-firstpart{
    display: flex;
    width: 90%;
    height: 55vh;
    justify-content:space-around ;
    align-items: center;
    margin-left: 2rem;
    background-color: rgba(233, 233, 233, 0.774);
    border-radius: 9px;
    box-shadow: 0 0 5px rgb(168, 168, 168);
}
.acmain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.acservices-main{
    width:70%;
    height: 500vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.acservices-imgpart{
    height: 300px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.acpart-rupees{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rs-25990{
    font-size: 13px;
    font-weight: 700;
    color: rgb(155, 152, 152);
    text-decoration: line-through;
}
.rs-18290{
    font-size: 17px;
    font-weight: 800;
    color: orange;
}
.acservice-scndpart{
    width: 55%;
    height: 43vh;
}
.acservice-scndpart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

}
.detailss{
    color: rgb(0, 0, 0);
}
.basicac{
    height: 30px;
    margin-top: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800; 
    color: orange;
    font-size: 25px;
}
.times{
    border: 1px solid lightgray;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 3px;
    font-size: 13px;
}
.acservice-scndpart-details{
    width: 90%;
    display: flex;
    height: 30vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.acdetails{
    height: 170px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.ac-cart{
    width: 150px;
    height: 40px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    font-weight: 800;
}
.acbutton{
    width: 150px;
    height: 40px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    font-weight: 800;
    outline: none;
    border: none;
}
.acbutton:hover{
    background-color: white;
    color: orangered;
}
.achead{
    height: 40px;
    margin-left: 1rem;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 0, 0);
}
.ac-search{
    background-color: rgba(221, 221, 221, 0.747);
    width: 30%;
    height: 85vh;
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(214, 214, 214);
}
.ac-search-name{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(156, 156, 156);
}
.ac-search-input{
    width: 240px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
}
.ac-button-type{
    width: 120px;
    height: 45px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    background-image: linear-gradient(orange,orangered);
}
.ac-search-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.accustomerdetails{
    color: orange;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ac-submit{
    width: 120px;
    height: 40px;
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight:700 ;
}
.ac-submit:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(orangered, orange);
}
.link-button{
    text-decoration: none;
}

/* ---------------------------MediaQuery----------------------------- */

@media(max-width:500px){
    .acmain{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 700vh;
    }
    .acservices-main{
        width: 100%;
        height: 650vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .acservices-firstpart{
        display: flex;
        flex-direction: column;
        width: 95%;
        height:80vh;
        margin-left: 0;
    }
    .acservices-imgpart{
        width: 95%;
    }
    .acservices-imgpart{
        display: flex;
        flex-direction: row;
    }
    .acservice-scndpart{
        width: 95%;
    }
    .acdetails{
        width: 60%;
        height: 30vh;
    }
    .ac-cart{
        width: 40%;
    }
    .acservice-scndpart-details{
        width: 100%;
    }
    .acbutton{
        font-size: 14px;
    }
    .detailss{
        font-size: 13px;
    }
    .basicac{
        font-size: 18px;
    }
    .ac-search{
        width: 98%;
    }
    .ac-search-name{
        font-size: 14px;
        width: 95%;
    }
}