.homeone-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 200px;
    border-radius: 5px;
}
.homeone-items:hover{
    box-shadow: 0 0 5px grey;
    background-color:darkseagreen ;
}
.homeone-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 390px;
}
.homeone-content-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.homeone-content-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.homeone-main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.homeone-text{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homeone-link-text{
    text-decoration: none;
    color: orange;
}
.homeone-link-text:hover{
    color: orange;
}
.homeone-imgs{
    border-radius: 5px;
}
.homeone-head{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.homeone-heading{
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    font-weight:800 ;
    color: rgb(255, 0, 0);
}
.homeone-head-img{
    margin-left: 1rem;
}
.hometwo-main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.hometwo-carousel{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hometwo-main-carousel{
    height: 300px;
}
.hometwo-battery-name{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
}
.battery-link{
    text-decoration: none;
}
.hometwo-battery-name:hover{
    color: orangered;
    text-decoration: underline;
}
.hometwo-head-main{
    height: 80px;
    display: flex;
    align-items: center;
}
.hometwo-curated{
    height: 50px;
    margin-left: 3rem;
    font-weight: 800;
    color: rgb(255, 0, 0);
    
}
.hometwo-arrow{
    margin-left: 1rem;

}
.home-main-footer{
    background-color: rgba(235, 235, 235, 0.671);
    box-shadow: 0 0 5px rgb(177, 177, 177);
    height: 34vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home-footer-one{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home-footer-two{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-footer-one-imgs{
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
}

/* .home-footer-social{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-hover:hover{
    transform: scale(1.07);
    transition-duration: 0.1s;
    box-shadow: 0 0 2px lightgrey;
}
.footer-playstore{
    background-color: rgb(255, 255, 255);
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    border-radius: 7px;
    color: white;
}
.footer-appstore{
    background-color: rgb(0, 0, 0);
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    border-radius: 7px;
    color: white; 
}
.footer-appstore:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.footer-playstore:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.home-copyright{
    background-color: rgb(6, 77, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} */


.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.725rem 2.8rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
   
  }
  
  .text-2 {
    font-weight: 600;
    font-size: 0.75rem;
    height: 20px;

  }





  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #28c413;
    color: #fff;
  }

  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .whatspp{
    margin-bottom: 8px;
  }
  
  





/* ----------------------------------------------mediaQuery----------------------------------------------------- */


@media(max-width:500px){
    .homeone-heading{
        margin-left: 0;
    }
    .homeone-head{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homeone-content{
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    .homeone-content-1{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .homeone-content-2{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .homeone-items{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 170px;
        width: 120px;
    }
    .homeone-text{
        font-size: 12px;
    }
    .hometwo-main{
        height: 70vh;
    }
    .hometwo-head-main{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hometwo-curated{
        margin-left: 0;
    }
    .hometwo-arrow{
        display: none;
    }
    .homecaroimg{
        width: 150px;
        height: 150px;
    }
    .hometwo-carousel{
        width: 180px;
    }
    .home-main-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
    }
    .home-footer-one{
        width: 100%;
        height: 200px;
    }
    .home-footer-one-imgs{
        width: 100%;
        height: 120px;
    }
    .home-footer-social{
        width: 75%;
    }
    .home-footer-two{
        width: 100%;
    }
    .footer-playstore{
        width: 40%;
    }
    .footer-appstore{
        width: 42%;
    }
    .socialicons{
        width: 100%;        
    }
}