.batteryservices-firstpart{
    display: flex;
    width: 90%;
    height: 55vh;
    justify-content:space-around ;
    align-items: center;
    margin-left: 2rem;
    background-color: rgba(233, 233, 233, 0.774);
    border-radius: 9px;
    box-shadow: 0 0 5px rgb(168, 168, 168);
}
.batterymain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.batteryservices-main{
    width:70%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.batteryservices-imgpart{
    height: 300px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.batterypart-rupees{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rs-25991{
    font-size: 13px;
    font-weight: 700;
    color: rgb(155, 152, 152);
    text-decoration: line-through;
}
.rs-18291{
    font-size: 17px;
    font-weight: 800;
    color: orange;
}
.batteryservice-scndpart{
    width: 55%;
    height: 43vh;
}
.batteryservice-scndpart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

}
.detailsss{
    color: rgb(0, 0, 0);
}
.basicbattery{
    height: 30px;
    margin-top: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800; 
    color: orange;
    font-size: 25px;
}
.timez{
    border: 1px solid rgb(10, 50, 68);
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 50, 68);
    border-radius: 3px;
    font-size: 13px;
    color: white;
}
.batteryservice-scndpart-details{
    width: 90%;
    display: flex;
    height: 30vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.batterydetails{
    height: 170px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.battery-cart{
    width: 150px;
    height: 40px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    font-weight: 800;
}
.batterybutton{
    width: 150px;
    height: 40px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    font-weight: 800;
    outline: none;
    border: none;
}
.batterybutton:hover{
    background-color: white;
    color: orangered;
}
.batteryhead{
    height: 40px;
    margin-left: 1rem;
    font-size: 30px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.battery-search{
    background-color: rgba(221, 221, 221, 0.747);
    width: 30%;
    height: 85vh;
    margin-top: 9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(214, 214, 214);
}
.battery-search-name{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(156, 156, 156);
}
.battery-search-input{
    width: 240px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
}
.battery-button-type{
    width: 120px;
    height: 45px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    background-image: linear-gradient(orange,orangered);
}
.battery-search-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.batterycustomerdetails{
    color: orange;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.battery-submit{
    width: 120px;
    height: 40px;
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight:700 ;
}
.battery-submit:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(orangered, orange);
}
.link-button{
    text-decoration: none;
}

/* ---------------------------MediaQuery----------------------------- */

@media(max-width:500px){
    .batterymain{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 280vh;
    }
    .batteryservices-main{
        width: 100%;
        height: 250vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .batteryservices-firstpart{
        display: flex;
        flex-direction: column;
        width: 95%;
        height:80vh;
        margin-left: 0;
    }
    .batteryservices-imgpart{
        width: 95%;
    }
    .batteryservices-imgpart{
        display: flex;
        flex-direction: row;
    }
    .batteryservice-scndpart{
        width: 95%;
    }
    .batterydetails{
        width: 60%;
        height: 30vh;
    }
    .battery-cart{
        width: 40%;
    }
    .batteryservice-scndpart-details{
        width: 100%;
    }
    .batterybutton{
        font-size: 14px;
    }
    .detailsss{
        font-size: 13px;
    }
    .basicbattery{
        font-size: 18px;
    }
    .battery-search{
        width: 95%;
        margin-bottom: 1rem;
    }
    .battery-search-name{
        font-size: 14px;
        width: 95%;
    }
}